APP_HOST=0.0.0.0
APP_PORT=3000
LOG_LEVEL=info

BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_ICON=
BOOTSTRAP_ADMIN_LOGIN_TOKEN=change-this-admin-token
DUMMY=lt_ljCcPVt6moYuHpXGuJsYmNIzBJO2slhZM6l7YB06-Aw
DUMMY2=http://videoapp.ditrexmc.f5.si:25958
